  
   
   h1 {
	
       text-align: center;
       margin-top: 3%;
	   color: #000;
	   }
	   
	   h2 {
	  margin-left: 1%;
	  color: #191970;
     
   }  
	
	 main {
	   color:#480082;
	   background-color: #FFDEAD;
   }   
	 
 
   
   
   
 
  